@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 36px;
}

body h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
}

main .provincias .prov, body p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .seccion-tienda .promociones {
    grid-template-columns: 2fr 2fr;
  }
  main .argentina .provincias {
    grid-template-columns: 2fr 2fr;
  }
  main .parques {
    grid-template-columns: 1fr;
  }
  main .tarjeta .tarjeta {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main .seccion-tienda .promociones {
    grid-template-columns: 1fr;
  }
  main .argentina .provincias {
    grid-template-columns: 2fr;
  }
  main .parques {
    grid-template-columns: 1fr;
  }
  main .tarjetas .tarjeta {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}
header {
  width: 100vw;
  position: fixed;
  z-index: 2;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div a img {
  width: 50px;
  background-color: #000;
}
header nav div #navbarNav {
  justify-content: center;
}
header nav div #navbarNav ul li {
  transition: 0.5s;
}
header nav div #navbarNav ul li:hover {
  background-color: #dbd4d4;
  color: #000;
  border-radius: 10px;
}
header nav div #navbarNav ul li a {
  color: black;
}
header.abajo {
  background: #000;
}
header.abajo nav div #navbarNav ul li a {
  color: #fff;
}

main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .hero {
  height: 100%;
  width: 100%;
  margin-bottom: 50%;
}
main .hero .position {
  position: absolute;
}
main .hero .slider {
  background-image: url(/img/slider/slider\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  animation: animation 10s linear infinite;
}
@keyframes animation {
  20% {
    background-image: url(/img/slider/slider\ 2.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(/img/slider/slider\ 3.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(/img/slider/slider\ 4.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(/img/slider/slider\ 5.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(/img/slider/slider\ 6.jpg);
    background-size: cover;
  }
}
main .contenido-hero {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .tarjetas {
  width: 80%;
}
main .tarjetas .tarjeta {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
main .tarjetas .tarjeta .imagen {
  width: 70%;
  margin: 20px 0;
}
main .tarjetas .tarjeta .imagen img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
main .tarjetas .tarjeta .info {
  width: 100%;
  padding: 20px;
  color: #fff;
}
main .tarjetas .tarjeta .info .enlaces {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
main .tarjetas .tarjeta .info .enlaces a {
  border: 1px solid;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  background-color: #000000;
}
main .cartelera {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
main .cartelera .cosas {
  width: 100%;
  border: 1px solid;
  position: relative;
}
main .cartelera .cosas .imagen img {
  width: 100%;
  height: 500px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .portada {
  width: 100%;
}
main .portada img {
  width: 100%;
  height: 600px;
}
main .argentina {
  margin-top: 60px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  place-content: center;
}
main .argentina .contenido_arg {
  width: 80%;
  margin: 20px;
}
main .argentina .contenido_arg img {
  margin-bottom: 20px;
  width: 100%;
}
main .provincias {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 10px;
}
main .provincias .prov {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  text-align: left;
  padding: 30px;
  transition: 0.5s;
}
main .provincias .prov h3 {
  text-align: center;
}
main .provincias .prov:hover {
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
  border-color: #ffffff;
}
main .provincias .prov img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -4px -12px 80px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px -12px 80px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px -12px 80px 0px rgba(0, 0, 0, 0.75);
}

footer {
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
footer .contactos {
  width: 70%;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
footer .contactos .ubicacion iframe {
  width: 100%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a img {
  width: 30px;
  text-align: center;
  background-color: white;
}
footer .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
}
footer .redes li {
  list-style: none;
}
footer .redes li a {
  text-decoration: none;
}
footer .redes li a img {
  width: 50px;
  border-radius: 100%;
}

.portada {
  width: 100%;
}
.portada img {
  width: 100%;
  height: 600px;
}

.seccion-tienda {
  margin-top: 70px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  place-content: center;
}
.seccion-tienda h2 {
  font-size: 32px;
}
.seccion-tienda .promociones {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 20px;
}
.seccion-tienda .promociones .promo {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  transition: 0.5s;
}
.seccion-tienda .promociones .promo img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.seccion-tienda .promociones .promo .texto-promo {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.seccion-tienda .promociones .promo .texto-promo p {
  margin: 5px;
}
.seccion-tienda .promociones .promo .texto-promo .boton {
  border: 1px solid;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  bottom: 0;
}
.seccion-tienda .promociones .promo:hover {
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
  border-color: #ffffff;
}

main .contactos {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
main .contactos .formulario form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
main .contactos .formulario form select,
main .contactos .formulario form input,
main .contactos .formulario form textarea {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
main .contactos .formulario form button {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

main .parques {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .parques .parque {
  width: 100%;
  position: relative;
  transition: 0.5s;
}
main .parques .parque .imagen img {
  width: 100%;
}
main .parques .parque .texto {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: justify;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 0.5;
}
main .parques .parque:hover {
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
  border-color: #ffffff;
}

/*# sourceMappingURL=estilos.css.map */
