main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .hero {
        height: 100%;
        width: 100%;
        margin-bottom: 50%;

        .position {
            position: absolute;

        }

        .slider {
            background-image: url(/img/slider/slider\ 1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            animation: animation 10s linear infinite;

            @keyframes animation {
                20% {
                    background-image: url(/img/slider/slider\ 2.jpg);
                    background-size: cover;
                }

                40% {
                    background-image: url(/img/slider/slider\ 3.jpg);
                    background-size: cover;
                }

                60% {
                    background-image: url(/img/slider/slider\ 4.jpg);
                    background-size: cover;
                }

                80% {
                    background-image: url(/img/slider/slider\ 5.jpg);
                    background-size: cover;
                }

                100% {
                    background-image: url(/img/slider/slider\ 6.jpg);
                    background-size: cover;
                }

            }
        }

    }

    .contenido-hero {
        background-color: white;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 60px;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .tarjetas {
        width: 80%;

        .tarjeta {
            width: 100%;
            display: flex;
            margin-bottom: 20px;
            border: 1px solid;
            border-radius: 10px;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: .5);

            .imagen {
                width: 70%;
                margin: 20px 0;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
            }

            .info {
                width: 100%;
                padding: 20px;
                color: $fuente-clara;

                .enlaces {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    a {
                        border: 1px solid;
                        border-radius: 10px;
                        text-decoration: none;
                        color: $fuente-clara;
                        margin-right: 10px;
                        padding: 10px;
                        background-color: #000000;
                    }
                }
            }
        }
    }


    .cartelera {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;

        .cosas {
            width: 100%;
            border: 1px solid;
            position: relative;

            .imagen {
                img {
                    width: 100%;
                    height: 500px;
                }
            }
        }
    }

}