@media (min-width: 768px) and (max-width:1023px) {
    main {
        .seccion-tienda {
            .promociones {
                grid-template-columns: 2fr 2fr;
            }
        }

        .argentina {
            .provincias {
                grid-template-columns: 2fr 2fr;
            }
        }

        .parques {
            grid-template-columns: 1fr;

        }

        .tarjeta {
            .tarjeta {
                flex-direction: column;
            }
        }
    }



}

@media (max-width: 768px) {
    main {
        .seccion-tienda {
            .promociones {
                grid-template-columns: 1fr;
            }
        }

        .argentina {
            .provincias {
                grid-template-columns: 2fr;
            }
        }

        .parques {
            grid-template-columns: 1fr;

        }

        .tarjetas {
            .tarjeta {
                flex-direction: column;
            }
        }
    }


}