@media (min-width: 768px) and (max-width:1023px) {
    main {
        .seccion-tienda {
            .promociones {
                grid-template-columns: 2fr 2fr;
            }
        }
        .provincias{
            grid-template-columns: 2fr 2fr;
        }
    }

  

}

@media (max-width: 768px) {
    main {
        .seccion-tienda {
            .promociones {
                grid-template-columns: 1fr;
            }
        }

        .provincias{
            grid-template-columns: 1fr;
        }
    }


}